/* Vis Timeline */
.vis-timeline {
	border: 1px solid transparent;
}

.vis-item-content .timeline-card {
	display: none;
	width: 300px;
	height: max-content;
	position: fixed !important;
}

.vis-item-overflow .timeline-card {
	display: none;
	width: 300px;
	height: max-content;
	position: fixed !important;
}

.vis-item .vis-item-overflow {
	overflow: visible;
}

.vis-item.orange {
	background-color: rgba(255, 0, 0, 0.295);
	filter: none;
	border-color: orange;
}

.vis-item.vis-selected.orange {
	/* custom colors for selected orange items */
	background-color: orange;
	border-color: orangered;
}

.vis-panel.vis-center,
.vis-panel.vis-left,
.vis-panel.vis-right {
	border-color: var(--background-secondary);
}

.vis-grid.vis-minor {
	display: none;
}

.vis-grid.vis-major {
	display: none;
}

/* Vis Timeline Navigation */

.vis-navigation-input {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	padding-left: 10px;
	padding-bottom: 5px;
	width: 65% !important;
	background-color: var(--background-secondary-alt);
	border: none;
	border-radius: 7px;
	height: auto;
	width: max-content;
	text-rendering: auto;
	color: -internal-light-dark(black, white);
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	overflow-wrap: break-word;
	color: var(--text-normal);
	appearance: textfield;
	cursor: text;
	font-family: 'Comic Sans MS' !important;
	font-size: 15px !important;
}

.theme-dark .vis-item {
	background-color: rgba(144, 170, 252, 0.4);
}

.theme-dark .vis-item.vis-selected {
	background-color: rgba(255, 247, 133, 0.4);
}

.theme-dark .vis-item {
	color: var(--text-normal);
}
